{% extends 'auth2/base/dashboard.html' %}
{% load i18n %}
{% block title %}{% translate 'Edit account' %}{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'auth2:dashboard' %}">
            {% translate 'Dashboard' %}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'auth2:group_list' %}">
            {% translate 'Groups' %}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'auth2:group_detail' group.id %}">
            {{ group }}
        </a>
    </li>
    <li class="breadcrumb-item active">
        {% translate 'Edit' %}
    </li>
{% endblock %}
{% block content %}
    <h1 class="lead fs-1">
        {% translate 'Edit Group' %}
    </h1>
    {% include 'auth2/includes/utilties/form.html' with form_tag=1 method='post' floating_labels=1 %}
    {% url 'auth2:group_list' as url %}
    {% url 'auth2:delete_group' group.id as uri %}
    {% include 'auth2/includes/utilties/save_submit.html' with form_id='form' reset=1 delete=1 cancel_url=url delete_url=uri %}
{% endblock %}